{% include "header.html" %}

<!-- Page Header -->
<header class="masthead"
        style="background-image: url({{ url_for('static', filename='img/home.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>INDOMITABLE TECH</h1>
                    <span class="subheading">Welcome to our page !<br>
                            
            </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">

        <div class="col-lg-8 col-md-10 mx-auto">

            <div class="post-preview">
                <h2 class="post-title">
                    <p>A perfect place to find business solutions.</p>
                </h2>
                <h5 class="post-subtitle">
                    <p>Our charges are the cheapest in the market.</p>
                    <p>Customer Satisfaction is our top priority.</p>
                    <p>We maintain high performance standards.</p>
                    <p>No compromise with quality !</p>
                </h5>
            </div>
            <hr>
            <p>
                Our business acumen covers the following:
            </p>
            <ol>
                <li>
                    Artificail Intelligence and Machine Learning
                </li>
                <li>
                    Python
                </li>
                <li>
                    Data Science
                </li>
                <li>
                    Web Development
                </li>
                <li>
                    Natural Language Processing
                </li>
                <li>
                    Business Solution and Human Resources
                </li>
            </ol>

        </div>
    </div>
</div>
<hr>

{% include "footer.html" %}
